### this section is needed for translate2csv utility
py-translate


### this section is needed for image_translate scripts and utilities

google-api-python-client==1.5.5

# to capture a screen from camera
pygame
pygame_camera

### to capture a screen from camera using SimpleCV / openCV
# numpy
# scipy
# simplecv
# opencv
# PIL